ion-grid,
ion-row {
  height: 100%;
}

.title-login {
  font-size: large;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.login-header {
  margin-right: 50px;
  margin-left: 50px;
}

.login-container {
  background-color: var(--ion-background-color);
}

.ion-button-login {
  --background: #3f2f9c;
}

.image-login {
  width: 80%;
  border-radius: 10px;
  border-color: gray;
  border: 5px solid gray;
}
